@import "tailwindcss";

@layer theme {
  :root {
    --bellefair: "Bellefair", --font-mono;
    --barlow: "Barlow", --font-mono;
    --barlow-c: "Barlow Condensed", --font-mono;

    --blue: #d0d6f9;
    --dark-blue: #0b0d17;
  }
}

@layer components {
  .section-base {
    @apply z-10 transition-opacity duration-300 ease-in absolute top-0 left-0 w-full h-full bg-cover bg-no-repeat p-6 overflow-y-auto md:overflow-hidden md:p-10;
  }

  .text-subtitle {
    @apply font-(family-name:--barlow-c) text-[var(--blue)];
  }

  .text-title {
    font-family: var(--bellefair);
  }

  .text-body {
    font-family: var(--barlow);
  }

  .text-navigation {
    font-family: var(--barlow-c);
    @apply tracking-[2px] text-sm text-white;
  }

  .section-title {
    font-family: var(--barlow-c);
    @apply pt-24 w-full text-center text-white tracking-widest md:text-[20px] md:text-left lg:pt-0 lg:text-[28px];
  }

  .content-title {
    font-family: var(--bellefair);
    @apply transition-opacity duration-300;
  }

  .content-description {
    font-family: var(--barlow);
    @apply transition-opacity duration-300;
  }

  .content-role {
    font-family: var(--bellefair);
    @apply transition-opacity duration-300;
  }

  .btn-primary {
    font-family: var(--bellefair);
    @apply transition-all duration-300;
  }

  .nav-item-active {
    @apply h-full text-sm border-white md:text-base border-r-0 p-0 border-b-3;
  }

  .nav-item-inactive {
    @apply h-full text-sm border-transparent hover:border-white/50 md:text-base border-r-0 p-0 border-b-3;
  }

  .nav_span {
    @apply mr-3 font-bold tracking-[2.7px];
  }

  .nav_item {
    @apply tracking-[2px] cursor-pointer flex items-start lg:items-center transition-colors duration-300;
  }

  .nav_destination_item {
    @apply tracking-[2px] cursor-pointer flex flex-col justify-start transition-colors duration-300;
  }

  .stat-item {
    @apply flex flex-col gap-3 md:w-full md:text-center;
  }

  .stat-label {
    font-family: var(--barlow-c);
    @apply text-[var(--blue)] text-sm tracking-widest;
  }

  .stat-value {
    font-family: var(--bellefair);
    @apply transition-opacity duration-300 text-white text-[28px];
  }

  .dots {
    @apply rounded-full w-[10px] h-[10px] bg-white opacity-[17.44%] cursor-pointer transition-opacity duration-300 hover:opacity-50 lg:w-[15px] lg:h-[15px];
  }

  .active_dot {
    @apply opacity-100;
  }

  .pagination {
    font-family: var(--bellefair);
    @apply rounded-full w-10 h-10 text-white relative flex justify-center items-center text-lg cursor-pointer transition-all duration-300 md:w-14 md:h-14 md:text-2xl lg:w-20 lg:h-20 lg:text-[32px];
  }

  .pagination::before {
    @apply content-[''] absolute w-full h-full rounded-full bg-transparent border border-white opacity-25 transition-opacity duration-300;
  }

  .pagination:hover::before {
    @apply opacity-100;
  }

  .pagination_active {
    @apply border-none bg-white text-[var(--dark-blue)];
  }

  .pagination_active::before {
    @apply hidden;
  }

  .start-btn {
    @apply transition-[outline-color] duration-[600ms] ease-in-out;
  }
}
