@import "tailwindcss";

.nav_span {
  margin-right: 0.75rem;
  font-weight: bold;
  letter-spacing: 2.7px;
}
.nav_item {
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: border-color .3s ease-in-out;
}
.nav_destination_item {
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: border-color .3s ease-in-out;
}

.dots {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 17.44%;
}
.active_dot {
  opacity: 100%;
}
.pagination {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: var(--bellefair);
}
.pagination::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: transparent;
  border: 1px solid white;
  opacity: 25%;
}
.pagination_active {
  border: none;
  background-color: #fff;
  color: var(--dark-blue);
}

#start_btn{
  transition: outline-color .6s ease-in-out;
}

@media (width >= 48rem /* 768px */) {
  .pagination {
    width: 56px;
    height: 56px;
    font-size: 24px;
  }
}

@layer theme {
  :root {
    --bellefair: "Bellefair", --font-mono;
    --barlow: "Barlow", --font-mono;
    --barlow-c: "Barlow Condensed", --font-mono;

    --blue: #d0d6f9;
    --dark-blue: #0b0d17;
  }
}
